html,
body {
    font-family: 'Signika', sans-serif;
    font-size: 14px;
}


/* Reset Css */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}


/* Header */

#header {
    height: 68px;
    border-bottom: 1px solid #ebebeb;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 30px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.logo img {
    width: 25px;
    margin-right: 10px;
}

.logo h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: #03015d;
}

.nav-right .user {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-right .user-info-name {
    text-transform: capitalize;
    font-size: 20px;
    color: #c4c4c4;
    margin-right: 50px;
    cursor: pointer;
}

.user-info-name i {
    margin-left: 15px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.user-info-name i.down-icon {
    transform: rotate(-180deg);
}

.nav-right .user-info-avatar {
    width: 50px;
}

.nav-right .user-info-avatar img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.dropdown-menu-user-info {
    position: absolute;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #e2e0e0;
    display: none;
}

.dropdown-menu-user-info ul li {
    padding: 15px 35px;
    transition: linear 0.3s;
}

.dropdown-menu-user-info ul li:hover {
    background-color: #e2e0e0;
}

.dropdown-menu-user-info-item {
    font-size: 14px;
    color: #9a9a9a;
}


/* Body content */

#sidebar {
    border-right: 1px solid #ebebeb;
    padding: 40px 20px;
}

#sidebar .sidebar-title {
    margin-bottom: 10px;
    padding: 3px 10px;
}

#sidebar .sidebar-title p {
    color: #c4c4c4;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-nav li {
    margin-bottom: 10px;
    padding: 10px 30px 10px 10px;
    transition: linear 0.3s;
    display: flex;
}

.sidebar-nav .sidebar-nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #c4c4c4;
}

.sidebar-nav .sidebar-nav-icon {
    font-size: 18px;
    color: #c4c4c4;
    margin-right: 15px;
}

.sidebar-nav li.sidebar-nav-item--active,
.sidebar-nav li.sidebar-nav-item--active .sidebar-nav-link,
.sidebar-nav li.sidebar-nav-item--active .sidebar-nav-icon {
    color: #332a7c;
    background: #ededf4;
    border-radius: 7px;
}

.sidebar-nav li.sidebar-nav-item--active .date-icon {
    color: #332a7c;
    border: 2px solid #332a7c;
}

.sidebar-nav li:hover {
    background: #ededf4;
    border-radius: 7px;
}

.date-icon {
    width: 17px;
    height: 17px;
    border: 2px solid #c4c4c4;
    line-height: 17px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #c4c4c4;
    margin-right: 15px;
    font-size: 10px;
}

.date-icon-nav-mobile {
    width: 16px;
    height: 16px;
    border: 2px solid #c4c4c4;
    line-height: 16px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #c4c4c4;
    font-size: 10px;
    margin-left: 15px;
}


/* Main content */

#main-content {
    padding: 40px 45px;
}

.main-content-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.main-content-head__left {
    display: flex;
    position: relative;
}

.main-content-head__left-number {
    position: absolute;
    right: -30px;
    bottom: 10px;
    font-size: 20px;
    color: #c4c4c4;
}

.main-content-head__left-title {
    font-size: 47px;
    color: #03015d;
    font-weight: 700;
}

.main-content-head__right .main-content-head__right--btn-add {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 600;
    background: #03015d;
    color: #fff;
}

.main-content-head__right--btn-add-icon {
    font-size: 12px;
}

.main-content-body {
    margin: 0 -10px;
}

.main-content-body .task-item {
    background: #fff;
    box-shadow: 0 2px 4px 1px #c7c0c0;
    border-radius: 15px;
    margin: 0px 10px 20px 10px;
    padding: 20px;
}

.task-head {
    display: flex;
    justify-content: space-between;
}

.task-head .task-title p {
    font-size: 20px;
    color: #535353;
    font-weight: 800;
}

.task-head .task-icon-delete {
    font-size: 16px;
    color: #535353;
    cursor: pointer;
}

.task-body {
    height: 110px;
    margin-top: 15px;
    padding: 0 20px 5px 0;
}

.task-body .task-description {
    font-size: 14px;
    color: #4e4d4d;
    font-weight: 300;
    text-align: justify;
}

.task-action {
    display: flex;
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 600;
}

.task-action .task-improtance-icon,
.task-action .task-complete-icon {
    font-size: 18px;
}

.task-action .task-improtance-icon {
    margin-left: 30px;
}

.task-action .task-complete-icon {
    margin-left: 20px;
    cursor: pointer;
}

.red {
    color: red;
}

.green {
    color: #37782c;
}

.orange {
    color: orange;
}

.gray {
    color: #8b8b8b;
}

.main-content-head__right--btn-add-mobile {
    display: none;
}


/* Modal Add Task */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: linear 0.2s;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal-add-task {
    width: 350px;
    margin: auto;
    background: #fff;
    z-index: 5;
    border-radius: 10px;
    position: relative;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 15px;
}

.modal-close .modal-close-icon {
    font-size: 22px;
    color: #c4c4c4;
    cursor: pointer;
}

.modal-add-task__form {
    padding: 25px;
    margin-top: 20px;
}

.modal-add-task__form .form-group {
    display: flex;
    flex-wrap: wrap;
}

.modal-add-task__form .form-group h3 {
    font-size: 19px;
    font-weight: 100;
    color: #4a4a4a;
    margin-bottom: 7px;
}

.modal-add-task__form .form-group .title-input,
.modal-add-task__form .form-group .date-time-input {
    padding: 10px;
    height: 20px;
}

.modal-add-task__form .form-group .description-input,
.select-important {
    padding: 10px;
}

.btn-add-task {
    background: #1e1d58;
    color: #fff;
    width: 100%;
    padding: 12px 15px;
}


/* Update Profile */

.update-profile h2 {
    font-size: 40px;
    color: #03015d;
    margin-bottom: 20px;
}

.profile-user__avatar {
    width: 80px;
    height: 85px;
}

.profile-user__avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.update-profile .profile-user .form-group {
    width: 40%;
}

.update-profile .profile-user .form-input {
    padding: 10px;
    height: 25px;
    color: #0c0c0c;
    font-size: 15px;
}

.update-profile .profile-user .choose-file {
    background: #03015d;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}

.btn-save-profile {
    background: #03015d;
    color: #fff;
    width: 100%;
    padding: 13px 10px;
}


/* Responsive */

.nav-bar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60%;
    background: #fff;
    z-index: 1;
    transform: translateX(-100%);
    transition: linear 0.2s;
}

.nav-bar-mobile__head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
}

.nav-bar-mobile-list {
    margin-top: 20px;
}

.nav-bar-mobile-list li {
    display: flex;
    align-items: center;
    color: #c4c4c4;
}

.nav-bar-mobile-list li,
.nav-bar-mobile__user-info li {
    margin-bottom: 20px;
}

.nav-bar-mobile--link {
    color: #c4c4c4;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
}

.nav-bar-mobile--icon {
    margin-right: 15px;
}

.nav-bar-mobile__close-icon {
    color: #333;
    font-size: 18px;
}

.nav-bar-btn {
    display: none;
}

.nav-bar-icon {
    font-size: 24px;
    color: #03015d;
}

.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    animation: fade-in linear 0.2s;
}

.nav-input {
    display: none;
}

.nav-input:checked~.nav-bar-mobile {
    transform: translateX(0);
}

.nav-input:checked~.nav-overlay {
    display: block;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

ul.nav-bar-mobile__user-info {
    border-top: 1px solid #ebebeb;
}

.nav-bar-mobile__user-info li:first-child {
    font-size: 18px;
    padding: 10px 15px;
    border-bottom: 1px solid #ebebeb;
    background: #e8dcdc;
}